@import '../../../UI/variables.scss';

.input-item {
  margin-bottom: 35px;

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: $dark-gray;
    margin-bottom: 7px;
  }

  input {
    font-size: 16px;
    line-height: 21px;

    color: $dark-brown;

    width: 100%;
    padding: 16px;
    background: $white;
    border: 1px solid $gray-basic;
    box-shadow: 0px 4px 8px $brown-shaddow;
    border-radius: 6px;
  }

  .error {
    margin-top: 8px;

    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color:$red;
  }

  input:focus {
    border: 2px solid $dodger-blue;
  }
  
}