$dodger-blue: #0880AE;
$gray: #EBF4F8;
$gray-place: #7C9CBF;
$dark-brown: #2C2738;
$white: #FFFFFF;
$gray-basic: #DBE2EA;
$dark-gray: #756F86;
$red:  #FF7171;


$brown-shaddow: rgba(44, 39, 56, 0.04);
$brown-shaddow-hover8: rgba(44, 39, 56, 0.08);
$brown-shaddow-hover16: rgba(44, 39, 56, 0.16);
$brown-btn-disabled: rgba(44, 39, 56, 0.5);
$brown-border: rgba(44, 39, 56, 0.86);
$gray-border: rgba(219, 226, 234, 0.86);
$blue-border: rgba(8, 128, 174, 0.86);

